.sub_top{
    width: 94%;
    height: 40px;
    padding: 15px 3%;
}
.top{
    width: 79%;
    height: 40px;
    box-shadow: rgb(235, 235, 235) 5px 5px 5px, inset 16px -2px 5px -13px rgb(151, 151, 151);
    padding: 15px 3%;
    position: fixed;
    background-color: white;
    border-radius: 30px 0 0 0;
}

.top_list{
    height: 40px;
    line-height: 50px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 2px solid rgb(216, 216, 216);
    float: left;
    margin-left: 0px;
}

.top .title .span{
    width: 100%;
    margin-left: 5%;
    float: left;
}

.top .title .span div{
    width: 80%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.top .chapter .span{
    width: 100%;
    margin-left: 5%;
    float: left;
}

.top .chapter .span div{
    width: 80%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.top .version_one .span{
    width: 100%;
    margin-left: 5%;
    float: left;
}

.top .version_one .span div{
    width: 80%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.top .version_two .span{
    width: 100%;
    margin-left: 5%;
    float: left;
}

.top .version_two .span div{
    width: 80%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.top .title .select-list{
    border-radius: 8px;
    box-shadow: 0 9px 18px 6px rgba(170, 170, 170, 0.5);
    background-color: #ffffff;
    max-height: 500px;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    position: absolute;
    overflow-y: auto;
    top: 60px;
    width: 9.4%;
}

.top .chapter .select-list{
    border-radius: 8px;
    box-shadow: 0 9px 18px 6px rgba(170, 170, 170, 0.5);
    background-color: #ffffff;
    max-height: 500px;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    position: absolute;
    overflow-y: auto;
    top: 60px;
    width: 5.6%;
    left: 14.3%;
}

.top .version_one .select-list{
    border-radius: 8px;
    box-shadow: 0 9px 18px 6px rgba(170, 170, 170, 0.5);
    background-color: #ffffff;
    max-height: 500px;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    position: absolute;
    overflow-y: auto;
    top: 60px;
    width: 7.5%;
    left: 30.3%;
}

.top .version_two .select-list{
    border-radius: 8px;
    box-shadow: 0 9px 18px 6px rgba(170, 170, 170, 0.5);
    background-color: #ffffff;
    max-height: 500px;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    position: absolute;
    overflow-y: auto;
    top: 60px;
    width: 7.5%;
    left: 39.7%;
}

.top .select{
    width: 90%;
    height: 20px;
    padding: 7px 5%;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
    line-height: 20px;
  }

.select:hover{
    background: linear-gradient(to right,#4C6873, #243340);
    color: white;
}

.top .title .span img{
    width: 8%;
    position: relative;
    top: -2px;
}

.top .chapter .span img{
    width: 13%;
    position: relative;
    top: -2px;
}

.top .version_one .span img{
    width: 9.5%;
    position: relative;
    top: -2px;
}
.top .version_two .span img{
    width: 9.5%;
    position: relative;
    top: -2px;
}

.top .title{
    width: 10%;
}
.top .chapter{
    width: 6%;
    margin-left: 2%;
    margin-right: 11%;
}
.top .version_one{
    width: 8%;
}
.top .version_two{
    width: 8%;
    margin-left: 2%;
}

.search_bar{
    width: 45%;
    height: 40px;
    margin-left: 53%;
}

.content{
    width: 100%;
    border-radius: 30px;
}

.content .left{
    padding: 50px 3% 50px 3%;
    width: 44%;
    border-right: 1px solid rgb(231, 231, 231);
    float: left;
}

.content p{
    font-size: 18px;
    cursor: pointer;
}

.content span{
    font-weight: bold;
    font-size: 25px;
    float: left;
    user-select: none;
}

.content .text{
    width: 95%;
    line-height: 27px;
    margin-left: 5%;
    cursor: pointer;
}

.content .like{
    width: 20px;
}

.content .right{
    padding: 50px 3% 50px 3%;
    width: 44%;
    margin-left: 50%;
}

.content .like-text{
    background: linear-gradient(to right,#0e7452, #2657eb);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}