<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moons bible</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'thebible/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'thebible/css/alert/one_button_window.css' %}">
    {% block head %}
    {% endblock head %}
</head>

<body>
<div class="window_background" id="window_background"></div>
{% block users %}
{% endblock users %}
{% include 'alert/one_button_window.html' %}

<div class="body">
    <div class="left_menu_bgcolor">
        <div class="left_menu">
            <div class="logo">
                <img src="{% static 'thebible/img/logo.png' %}">
            </div>
            <div class="title">
                <img src="{% static 'thebible/img/title.png' %}">
            </div>
            <div class="sub_title">
                
            </div>
            <ul class="menus" id="menus">
                
                    <li class="li" onclick="alert_on()">
                        <div class="img">
                            <img src="{% static 'thebible/img/icon/home_icon.png' %}">
                        </div>
                        <div class="span">
                            <span>홈 - <span style="color: rgb(255, 117, 117);">제작중...</span></span>
                        </div>
                    </li>
                
                <a href="{% url 'bible:read' %}">
                    <li class="li">
                        <div class="img">
                            <img src="{% static 'thebible/img/icon/read_icon.png' %}" style="height: 22px;">
                        </div>
                        <div class="span">
                            <span>성경 읽기 - <span style="color: rgb(255, 241, 115);">Beta</span></span>
                        </div>
                    </li>
                </a>

                    <li class="li" onclick="alert_on()">
                        <div class="img">
                            <img src="{% static 'thebible/img/icon/search_icon_menu.png' %}" style="height: 27px;">
                        </div>
                        <div class="span">
                            <span>성경 키워드 분석 - <span style="color: rgb(255, 117, 117);">제작중...</span></span>
                        </div>
                    </li>
                    
                    <li class="li" onclick="alert_on()">
                        <div class="img">
                            <img src="{% static 'thebible/img/icon/report_icon.png' %}" style="height: 27px;">
                        </div>
                        <div class="span">
                            <span>성경 통계 지표 - <span style="color: rgb(255, 117, 117);">제작중...</span></span>
                        </div>
                    </li>
            </ul>
            {% if user.is_authenticated %}
                <a href="{% url 'user:logout' %}?next_path={{ request.get_full_path }}"><div class="login_button">로그아웃</div></a>
            {% else %}
                <a href="{% url 'user:login' %}?next_path={{ request.path }}"><div class="login_button">로그인</div></a>
                <a href="{% url 'user:signup' %}?next_path={{ request.path }}"><div class="signup_button">회원가입</div></a>
            {% endif %}
        </div>
    </div>
    <div class="right_content">
        {% block content %}
        <!-- 오른쪽 내용 부분 -->
        {% endblock content %}
    </div>
</div>
{% block js %}{% endblock js %}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static 'thebible/js/base.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>