{% load static %}
<div class="search_version">
    <div id="fil-click" class="span" onclick="select(4)">
        <div id="fil-click" name="version_name" class="search_version_title">개역한글</div>
        <img src="{% static 'thebible/img/sub/select.png' %}" class="select_img" id="fil-click">
    </div>
    <div class="select-list none">
        {% for version in version_list %}
            <div class="select" onclick="search_version(this)">{{ version.1 }}</div>
        {% endfor %}
    </div>
</div>
<div class="search_div">
    <form action="{% url 'bible:read_search' %}" method="GET">
        <input type="text" value="개역한글" name="search_version">
        {{ read_search_input.keyword }}
        <input class="search_button" type="submit" value="">
        <div class="img"><img src="{% static 'thebible/img/icon/search_icon.png' %}"></div>
    </form>
</div>
