{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>성경 읽기</title>
{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'thebible/css/read/thebible_read.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'thebible/css/search_bar.css' %}">
{% endblock head %}

{% block content %}
{% include "top_menu_bar.html" %}
<!-- 내용 -->
<div class="content">
    <!-- 왼쪽 내용 -->
    <div class="left" id="left">
        <div style="height: 40px;">
            <h1>{{ version_one_title }} {{ para_list.chapter }}{{ version_one_language_title }}</h1>
        </div>
        {% for content in version_one_content %}
        <p>
            <span>{{ content.verse_num }}</span>
            <div class="text{% if content.id in like_verse_id_list %} like-text{% endif %}" onclick="like(this, '{{ csrf_token }}')" name="{{ content.id }}">{{ content.verse }}</div>
        </p>
        {% endfor %}
    </div>
    <!-- 오른쪽 내용 -->
    <div class="right" id="right">
        <div style="height: 40px;">
            <h1>{{ version_two_title }} {{ para_list.chapter }}{{ version_two_language_title }}</h1>
        </div>
        {% for content in version_two_content %}
        <p>
            <span>{{ content.verse_num }}</span>
            <div class="text{% if content.id in like_verse_id_list %} like-text{% endif %}" onclick="like(this, '{{ csrf_token }}')" name="{{ content.id }}">{{ content.verse }}</div>
        </p>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'thebible/js/read/thebible_read.js' %}"></script>
    <script src="{% static 'thebible/js/search_bar.js' %}"></script>
{% endblock js %}