.alert_one_button_window_bg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

.alert_one_button_window_bg .alert_one_button_window{
    width: 500px;
    height: 200px;
    margin: 17% auto;
    border-radius: 10px;
    background-color: white;
    padding-top: 5px;
}

.alert_one_button_window_bg .alert_one_button_window .text{
    text-align: center;
    width: 90%;
    margin: 10% auto;
    line-height: 25px;
}

.alert_one_button_window_bg .alert_one_button_window .button{
    width: 30%;
    background: linear-gradient(to right, #4C6873, #243340);
    height: 40px;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    cursor: pointer;
    margin: -10px auto;
}